@import './assets/styles';

#root {
  min-width: 90vw;
  padding: 2rem;
  text-align: center;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  .header {
    font-size: 32px;
    padding: 8px;
  }

  .segment-detail, .text {
    @include flex-center;
    width: 100%;
    font-size: 20px;
  }

  .spin {
    margin: 24px 0px;
    border: none;
    outline: none;
    transition: all 0.5s;

    &:hover:not(:disabled) {
      filter: drop-shadow(0 0 1.5em $bright-turquoise);
    }

    &:disabled {
      opacity: 0.3;
      cursor: auto;
    }
  }
}

.spinner {
  position: relative;

  .triangle {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0px;
    top: 50%;
    transform: translate(20px, -20px);
  }
}