///////////////// colors /////////////////
$bright-turquoise: #61dafbaa;
$purple: #554252;

$modern-grey: #242424;
$grey: #3e4145;
$dark-grey: #566168;
$blue-grey: #6d848a;
$metallic-blue: #88a9a8;
$green-blue: #a9cec2;
//////////////////////////////////////////

/////// media query sizes (widths) ///////
$tiny-screen: 375px;
$small-screen: 512px;
$sm-md-screen: 640px;
$medium-screen: 768px;
$md-lg-screen: 896px;
$large-screen: 1024px;
$giant-screen: 1280px;
//////////////////////////////////////////

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin borderless-glow-button($radius: 1.5em) {
  border: none;
  outline: none;
  transition: all 0.5s;

  &:hover:not(:disabled) {
    filter: drop-shadow(0 0 $radius $bright-turquoise);
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
  }
}

@mixin text-overflow() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
