@import "../../assets/styles";

.spinner-room {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 8px;

  .room-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 8px;
    padding: 8px;
    border-bottom: 2px solid $grey;

    .title {
      font-size: 40px;
      font-weight: 500;

      &:hover {
        transition: all 0.3s;
        color: $green-blue;
        cursor: pointer;
      }
    }

    .detail {
      font-size: 20px;
      color: $green-blue;
      .label {
        color: white;
      }
    }
  }

  .spinner-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 8px;

    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 24px;

    .spinner {
      position: relative;

      .triangle {
        position: absolute;
        width: 32px;
        height: 32px;
        right: 0px;
        top: 50%;
        transform: translate(12px, -20px);
        user-select: none;

        filter: drop-shadow(0 0 0.25em $modern-grey);
      }
    }

    .stats-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      margin-right: 32px;

      .header {
        font-size: 36px;
        padding: 8px;
      }

      .spin-button {
        margin: 24px 0px;
        @include borderless-glow-button;
      }
    }
  }
}
